[
  {
    "name": "MSI_SUBSCRIPTION",
    "value": "${MSI_SUBSCRIPTION}"
  },
  {
    "name": "MSI_RESOURCE_GROUP_NAME",
    "value": "${MSI_RESOURCE_GROUP_NAME}"
  },
  {
    "name": "MSI_STORAGE_ACCOUNT_NAME",
    "value": "${MSI_STORAGE_ACCOUNT_NAME}"
  }
]
